body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
}
